<div>
    <h2>Movimientos</h2>
    <input type="date" class="inputFilter" width="100px" value="{{today | date:'yyyy-MM-dd'}}"
        placeholder="Fecha Inicial" #filterStartDate (change)="loadTransactions()" />
    <input type="date" class="inputFilter" value="{{today | date:'yyyy-MM-dd'}}" placeholder="Fecha Final"
        #filterEndDate (change)="loadTransactions()" />
    <input class="inputFilter" type="text" placeholder="Buscar" (keyup.enter)="this.loadTransactions()" #txtFilter />
</div>
<span class="spanError" #spanError></span>

<div class="container-new">
    <button (click)="showNew()">Nuevo Movimiento</button>
    <app-pdf title="{{reportTitle}}" [headers]="reportHeaders" [filters]="reportFilters" [data]="reportData"></app-pdf>
</div>

<table class="styled-table">
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Tipo</th>
            <th>Cuenta</th>
            <th>Valor</th>
            <th>Saldo</th>
            <th>Cliente</th>
            <th>Identificación</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>

    <tbody>

        <tr *ngFor="let transaction of transactions">
            <td>{{ transaction.createdAt | date:"dd/MM/yyyy hh:MM:ss" }}</td>
            <td>{{ transaction.type }}</td>
            <td>{{ transaction.account.accountNumber }}</td>
            <td>{{ transaction.value }}</td>
            <td>{{ transaction.balance }}</td>
            <td>{{ transaction.account.client.person.names }}</td>
            <td>{{ transaction.account.client.person.identification }}</td>
            <td>{{ transaction.status?'True':'False' }}</td>
            <td>
                <button class="btn-action" (click)="showEdit(transaction)">✏️</button>
                <button class="btn-action" (click)="showDelete(transaction)">❌</button>
            </td>
        </tr>

    </tbody>

</table>

<div id="create" class="modal" [ngClass]="{
    'modalShow': state === 'new' || state === 'edit',
    'modalHide': state === 'show' || state === 'delete'
}">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close" (click)="modalHide()">&times;</span>
        <div>
            <h3>{{state==='edit'?'Editar usuario':'Crear movimiento'}}</h3>
            <br />
            <form (ngSubmit)="save()" autocomplete="off" [formGroup]="miFormulario">

                <label for="accountId">Cuenta:*</label>
                <div>
                    <select class="input" formControlName="accountId" (change)="changeAccount()">
                        <option *ngFor="let account of accounts" [value]="account.id">{{account.accountNumber}} -
                            {{account.client.person.names}}</option>
                    </select>
                    <span class="spanError" *ngIf="hasError('accountId')">
                        Cuenta es requerida
                    </span>
                </div>

                <label for="type">Tipo:*</label>
                <div>
                    <select class="input" formControlName="type" id="type">
                        <option value="RETIRO">RETIRO</option>
                        <option value="DEPOSITO">DEPÓSITO</option>
                    </select>
                    <span class="spanError" *ngIf="hasError('type')">
                        Tipo es requerido
                    </span>
                </div>

                <label for="age">Valor</label>
                <div>
                    <input class="input" type="number" formControlName="value" placeholder="Valor">
                    <span class="spanError" *ngIf="hasError('value')">
                        Valor es requerido
                    </span>
                </div>

                <label for="status">Estado</label>
                <input class="checkBox " type="checkbox" formControlName="status" placeholder="Estado">

                <input class="input" type="submit" value="Guardar">
                <span class="spanError">
                    {{saveError}}
                </span>
            </form>
        </div>
    </div>
</div>
<app-confirm [visible]="state==='delete'" [message]="confirmMessage" (cancel)="modalHide()"
    (accept)="delete()"></app-confirm>